{% extends 'base.html.twig' %}

{% block title %}Trombinoscope DWWM-2{% endblock %}


{% block h1 %}<h1>Les trombines de {{promotion.nom}}</h1>{% endblock %}

{% block body %}

    <div class="breadcrumb">
        <div class="container">
            <a href="{{ path("promotion") }}" >
                <img src="{{asset('assets/img/home.svg')}}" alt="retour à l'accueil" class="icon">
                Retour à l'accueil
            </a>
        </div>
    </div>

    <div class="container top-filter">
        <div class="search-container">
        <form>
            <input type="text" placeholder="Filtrer par nom" class="js-search-bar" oninput="inputName()">
        </form>
        </div>
        <div class="filter-container">
            <button class="filtre" onclick="triAZ()">
                <img src="{{ asset('assets/img/sortAZ.svg') }}" alt="tri par ordre alphabetique">
            </button>
            <button class="filtre" onclick="triZA()">
                <img src="{{ asset('assets/img/sortZA.svg') }}" alt="tri par ordre anti-alphabetique">
            </button>
        </div>
    </div>
    <main class="main-content container">
        {% for student in students %}
        <div class="card-container home-card">
            <div class="card">
                <img src="{{ asset('assets/img/students/' ~ student.imgSrc) }}" alt="{{student.prenom}} {{ student.nom }}">
                <h2><a href="">{{student.prenom}} {{student.nom}}</a></h2>
                <a href="{{ path("student", {'promotion': promotion.id,'id': student.id}) }}" class="button"><span>En savoir +</span></a>
            </div>
        </div>
        {% endfor %}
    </main>

{% endblock %}

{% block linksfooter %}
    {% for link in links %}
        {% if (link.type is same as ("slack")) or (link.type is same as ("other")) %}
            <li class="link-list-items">
                <img src="
                    {% if link.type is same as ("slack") %}
                        {{ asset('assets/img/slack.svg') }}
                    {% else %}
                        {{ asset('assets/img/cefim.png') }}
                    {% endif %}
                " alt="logo slack" class="icon">
                <a href="{{ link.href }}" target="_blank">{{ link.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block coursesfooter %}
    {% for link in links %}
        {% if link.type is same as ("cours") %}
            <li class="link-list-items"><img src="{{ asset('assets/img/cefim.png') }}" alt="logo cefim" class="icon"><a href="{{link.href}}" target="_blank">{{link.name}}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block googlefooter %}
    {% for link in links %}
        {% if link.type is same as ("googleDrive") %}
            <li class="link-list-items"><img src="{{ asset('assets/img/google-drive.svg') }}" alt="logo google drive" class="icon"><a href="{{link.href}}" target="_blank">{{link.name}}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/tri.js') }}"></script>
<script src="{{ asset('assets/js/filter.js') }}"></script>
{% endblock %}