{% extends 'base.html.twig' %}

{% block title %}Trombinoscope DWWM-2{% endblock %}

{% block body %}

    <main class="main-content container">
        {% for student in students %}
        <div class="card-container">
            <div class="card">
                <img src="{{ asset('assets/img/' ~ student.imgSrc) }}" alt="{{student.prenom}} {{ student.nom }}">
                <h2>{{student.prenom}} {{student.nom}}</h2>
                <a href="{{ path("student", {'id': student.id}) }}" class="button">En savoir +</a>
            </div>
        </div>
        {% endfor %}
    </main>

{% endblock %}
