{{ form_start(promotionForm) }}
    <div class="form-container">
        <div class="form-group">
            <div class="form-input">
                {{ form_label(promotionForm.nom,'Nom de la promotion') }}
                {{ form_widget(promotionForm.nom, {'attr': {'placeholder': 'Nom de la promotion'}}) }}
            </div>
            <div class="form-input">
                {{ form_label(promotionForm.description, 'Description') }}
                {{ form_widget(promotionForm.description, {'attr': {'placeholder': 'Description'}}) }}
            </div>
            <div class="form-input">
                {{ form_label(promotionForm.year, 'Année') }}
                {{ form_widget(promotionForm.year, {'attr': {'placeholder': 'Année'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-input">
                {% if promotion.groupPicture|default %}
                    <img width="300" src="{{ asset('assets/img/promotions/' ~ promotion.groupPicture) }}" alt="promotion.nom">
                {% endif %}
                {{ form_label(promotionForm.groupPicture, 'Photo de groupe') }}
                {{ form_widget(promotionForm.groupPicture, {'attr': {'placeholder': 'photo'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-input form-entity-input">
                {{ form_label(promotionForm.Student, 'Etudiant(s)' )}}
                {{ form_widget(promotionForm.Student, {'attr': {'placeholder': 'étudiants', 'checked': true}}) }}
            </div>
        </div>
        <div class="form-submit">
            <button type="submit" class="form-input-submit">Enregistrer</button>
        </div>
    </div>

{{ form_end(promotionForm) }}