{% extends 'base.html.twig' %}

{% block title %}Recherche avancée{% endblock %}

{% block h1 %}<h1>Recherche Avancée</h1>{% endblock %}

{% block body %}

    <div class="breadcrumb">
        <div class="container">
            <a href="{{ path("promotion") }}" >
                <img src="{{asset('assets/img/home.svg')}}" alt="retour à l'accueil" class="icon">
                Retour à l'accueil
            </a>
        </div>
    </div>

    <div class="background-search-form">
        <div class="search-form-container container">
            <div class="search-form">
                <h2>Recherche par étudiant</h2>
                {{ form_start(studentSearchForm, {'attr': {'class': 'row'}}) }}
                    {{ form_widget(studentSearchForm.prenom, {'attr': {'placeholder': 'Prénom'}}) }}
                    {{ form_errors(studentSearchForm.prenom) }}
                    {{ form_widget(studentSearchForm.nom, {'attr': {'placeholder': 'Nom'}}) }}
                    {{ form_errors(studentSearchForm.nom) }}
                    <div class="search-button-container">
                        <button type="submit" class="button-search-form">Rechercher</button>
                    </div>
                {{ form_end(studentSearchForm) }}
            </div>
            <div class="search-form">
                <h2>Recherche par promotion</h2>
                {{ form_start(promotionSearchForm, {'attr': {'class': 'row'}}) }}
                    {{ form_widget(promotionSearchForm.nom, {'attr': {'placeholder': 'Nom de la promotion'}}) }}
                    {{ form_errors(promotionSearchForm.nom) }}
                    <div class="search-button-container">
                        <button type="submit" class="button-search-form">Rechercher</button>
                    </div>
                {{ form_end(promotionSearchForm) }}
            </div>
        </div>
    </div>

{% endblock %}
