{% extends 'base.html.twig' %}

{% block title %}Trombinoscope du CEFIM{% endblock %}

{% block body %}

    <div class="breadcrumb">
        <div class="container">
            <img src="{{asset('assets/img/home.svg')}}" alt="accueil" class="icon">
        </div>
    </div>

    <div class="container top-filter">
        <div class="search-container">
            <form>
                <input type="text" placeholder="Filtrer par nom" class="js-search-bar" oninput="inputPromotionName()">
            </form>
            <a href="{{ path("recherche")}}" class="advanced-search">Recherche avancée</a>
        </div>
        <div class="filter-container">
            <button class="filtre" onclick="tri19()">
                <img src="{{ asset('assets/img/sort19.svg') }}" alt="tri par ordre alphabetique">
            </button>
            <button class="filtre" onclick="tri91()">
                <img src="{{ asset('assets/img/sort91.svg') }}" alt="tri par ordre anti-alphabetique">
            </button>
        </div>
    </div>

    <div class="container main-content">
        <ul class="promotion-list">
            {% for promotion in promotions %}
                <li class="promotion-card">
                        <a href="{{ path("students_list", {'promotion': promotion.id}) }}">
                            <img src="{{ asset('assets/img/promotions/' ~ promotion.groupPicture) }}" alt="{{promotion.nom}}">
                        </a>
                        <span class="year">Année: <span class="promotion-year">{{promotion.year}}</span></span>
                    <div class="promotion-card-content">
                        <div>
                            <h2>{{ promotion.nom }}</h2>
                            <p>{{promotion.description}}</p>
                        </div>
                        <a href="{{ path("students_list", {'promotion': promotion.id}) }}" class="promotion-btn">
                            En savoir +
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/tri.js') }}"></script>
<script src="{{ asset('assets/js/filter.js') }}"></script>
{% endblock %}