{% extends 'base.html.twig' %}

{% block title %}Trombinoscope du CEFIM{% endblock %}

{% block body %}

<div class="container">
    <ul class="promotion-list">
        {% for promotion in promotions %}
            <li class="promotion-card">
                <a href="{{ path("students_list", {'promotion': promotion.id}) }}">
                    <img src="{{ asset('assets/img/promotions/' ~ promotion.groupPicture) }}" alt="{{promotion.nom}}">
                </a>
                <div class="promotion-card-content">
                    <h2>{{ promotion.nom }}</h2>
                    <p>{{promotion.description}}</p>
                </div>
            </li>
            <li class="promotion-card">
                <a href="{{ path("students_list", {'promotion': promotion.id}) }}">
                    <img src="{{ asset('assets/img/promotions/' ~ promotion.groupPicture) }}" alt="{{promotion.nom}}">
                </a>
            </li>
            <li class="promotion-card">
                <a href="{{ path("students_list", {'promotion': promotion.id}) }}">
                    <img src="{{ asset('assets/img/promotions/' ~ promotion.groupPicture) }}" alt="{{promotion.nom}}">
                </a>
            </li>
            <li class="promotion-card">
                <a href="{{ path("students_list", {'promotion': promotion.id}) }}">
                    <img src="{{ asset('assets/img/promotions/' ~ promotion.groupPicture) }}" alt="{{promotion.nom}}">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
