<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Trombinoscope du CEFIM{% endblock %}</title>
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
    </head>
    <body>

    <header class="main-header">
        {% block h1 %}<h1>Trombinoscope du CEFIM</h1>{% endblock %}
    </header>

        {% block body %}{% endblock %}

    <footer class="main-footer">
        <div class="foooter-container main-footer">
            <div class="footer-links">
                <h2>Liens utiles</h2>

                <ul class="link-list">
                    {% block linksfooter %}
                        <li class="link-list-items"><img src="{{ asset('assets/img/slack.svg') }}" alt="logo slack" class="icon"><a href="https://cefim-school.slack.com/archives/G01EWSK0YAW" target="_blank">Slack</a></li>
                        <li class="link-list-items"><img src="{{ asset('assets/img/cefim.png') }}" alt="logo cefim" class="icon"><a href="https://www.cefim.eu/ target="_blank">CEFIM</a></li>
                    {% endblock %}
                </ul>

            </div>
            <div class="footer-links"> 
                <h2>Cours</h2>
                <ul class="link-list">
                {% block coursesfooter %}
                    <li class="link-list-items"><img src="{{ asset('assets/img/cefim.png') }}" alt="logo cefim" class="icon"><a href="https://campus.cefim.eu/" target="_blank">Campus CEFIM</a></li>
                {% endblock %}
                </ul>
            </div>
            <div class="footer-links"> 
                <h2>Google Drive</h2>
                <ul class="link-list">
                    {% block googlefooter %}
                    <li class="link-list-items">
                        <span>Aucun lien à afficher</span>
                    </li>
                    {% endblock %}
                </ul>
            </div>
        <div>
    </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
